@model Common.Common.ReturnResult<Common.Entity.Models.RAM.RAM>
<div class="main-content">
    <section class="section">
        <h1 class="section-header">
            <div>Manage Computers</div>
        </h1>
        <div class="section-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Computer Room List</h4>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Created At</th>
                                        <th>Status</th>
                                        <th>
                                            Action
                                            <br />
                                            <button id="add-btn" class="ion-plus"></button>
                                        </th>
                                    </tr>
                                    @foreach (var ram in Model.ItemList)
                                    {
                                        <tr>
                                            <td>@ram.PK_Id</td>
                                            <td>@ram.Name</td>
                                            <td>2017-01-09</td>
                                            @if (@ram.Status == 1)
                                            {
                                                <td><div class="badge badge-success">Active</div></td>
                                            }
                                            else
                                            {
                                                <td><div class="badge badge-danger">Deactive</div></td>
                                            }
                                            <td>
                                                <button class="ion-edit"></button>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <nav class="d-inline-block">
                                <ul class="pagination mb-0">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1"><i class="ion ion-chevron-left"></i></a>
                                    </li>

                                    @{
                                        var numberOfPages = Model.TotalRows / ViewBag.PAGE_SIZE;
                                        for (int i = 0; i <= numberOfPages; i++)
                                        {
                                            <li class="page-item "><a class="page-link" href="@Url.Action("RamPaging", "Ram", new { PAGE_INDEX = i+1, PAGE_SIZE = 10 })">@(i+1)<span class="sr-only">(current)</span></a></li>
                                        }
                                    }
                                    <li class="page-item">
                                        <a class="page-link" href="#"><i class="ion ion-chevron-right"></i></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#add-btn").click(function () {
                window.location.href = '@Url.Action("Add", "Ram")';
            });
        })
    </script>

}